	body{
		background-color: #e7e5e5;
		font-family: 'Roboto', sans-serif;
		background-position-y: bottom;
	}
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #5cb85c;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	
	.signup-form1{
		width: 400px;
		margin: 0 auto;
		padding: 157px 0;
	}
	
	.signup-form1 h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form1 h2:before, .signup-form1 h2:after{
	
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form1 h2:before{
		left: 0;
	}
	.signup-form1 h2:after{
		right: 0;
	}
    .signup-form1 .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form1 form{
		color: #333;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form1 .form-group{
		margin-bottom: 20px;
	}
	.signup-form1 input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form1 .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	.signup-form1 .row div:first-child{
		padding-right: 10px;
	}
	.signup-form1 .row div:last-child{
		padding-left: 10px;
	}    	
    .signup-form1 a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form1 a:hover{
		text-decoration: none;
	}
	.signup-form1 form a{
		color: #5cb85c;
		text-decoration: none;
	}	
	.signup-form1 form a:hover{
		text-decoration: underline;
	}  
	
	
	
	
	
	
	
	.signup-form2{
		width: fit-content;
		margin: 0 auto;
		padding: 157px 0;
	}
	
	.signup-form2 h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form2 h2:before, .signup-form1 h2:after{
	
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form2 h2:before{
		left: 0;
	}
	.signup-form2 h2:after{
		right: 0;
	}
    .signup-form2 .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form2 form{
		color: #333;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form2 .form-group{
		margin-bottom: 20px;
	}
	.signup-form2 input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form2 .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	.signup-form2 .row div:first-child{
		padding-right: 10px;
	}
	.signup-form2 .row div:last-child{
		padding-left: 10px;
	}    	
    .signup-form2 a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form2 a:hover{
		text-decoration: none;
	}
	.signup-form2 form a{
		color: #5cb85c;
		text-decoration: none;
	}	
	.signup-form2 form a:hover{
		text-decoration: underline;
	}  